*{
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

main{
    margin: auto;
    padding: 90px 20px 0px;
}

.header{
    background-color: #0769e9;
    height: 80px;
    position:fixed; /*para fijar la posición de la navegación*/
    width: 100%;
    top: 0;
    left: 0;
}

nav{
    max-width: 992px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover{ /*cuando pase el mouse por encima*/
    background-color: #034574;
    transition: 0.5s;
}

.close:hover,
.nav-menu-link_active{ /*cuando pase el mouse por encima*/
    background-color: #950fbe;
    transition: 0.5s;
}


.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none; /*para que no se vea en modo lap*/
}

@media(max-width: 768px){
    body{
        padding-top: 70px;
    }
    
    .header{
        height: 60px;
    }
    
    .logo{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        list-style: none;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        /*scroll en el menu*/
        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active{ /*cuando pase el mouse por encima*/
        background: none;
        color: #83c5f7;
    }

    .nav-toggle{
        color: white;
        background: none;
        border: none;
        font-size: 30px;
        padding: 0 20px;
        line-height: 60px;
        display: block; /*para que no se vea en modo lap*/
    }

    .nav-menu_visible{
        left: 0;        
    }
}


/*
svg{
    position: relative;
    display: inline-block;
}

#empre01{
    position: absolute;
}
*/

footer{
    width: 100%;
    padding: 50px 0px 20px 0px;
    background-image: url(../img/wave\ \(1\).svg);
    background-size: cover;
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 30px;
}

.box_footer{
    display: flex;
    flex-direction: column;
}

.box_footer .logo {
    text-align: center;
}

.box_footer .logo img{
    width: 80px;
}

.box_footer .terms {
    max-width: 350px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
    text-align: center;
}

.box_footer h2{
    margin-bottom: px;
    color: #343434;
    font-weight: 700;
    font-size: 20px;
}

.box_footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-size: 600;
}

.box_footer a:hover{
    opacity: 0.8;
}

.box_footer a .fab{
    font-size: 20px;
}

.box_copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box_copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box_copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}